In [258]:
# importing some libs so that we can work with data easily :)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [259]:
# reading the csv file by using pandas :)
df = pd.read_csv('dataset/ahmedabad.csv' , encoding='utf-8')

In [ ]:
df.index

RangeIndex(start=0, stop=6853, step=1)

In [285]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6334 entries, 0 to 6852
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6334 non-null   object
 1   type_area     6334 non-null   object
 2   value_area    6334 non-null   object
 3   floor         6334 non-null   object
 4   transaction   6334 non-null   object
 5   furnishing    6334 non-null   object
 6   facing        6334 non-null   object
 7   price         6334 non-null   object
 8   price_sqft    6334 non-null   object
 9   status_type   6334 non-null   object
 10  status_value  6334 non-null   object
dtypes: object(11)
memory usage: 593.8+ KB

In [261]:
df.isnull().sum()

Unnamed: 0        0
Title             0
type_area         0
value_area        0
status            0
floor             8
transaction      21
furnishing       37
facing           89
price             0
price_sqft      448
description    1766
dtype: int64

In [262]:
df['price_sqft'].isnull().sum()

np.int64(448)

In [263]:
# DROP the description
df = df.drop(['description', 'Unnamed: 0'], axis=1)

In [264]:
# quick look into the data-set :)
df.head(10)

,Title,type_area,value_area,status,floor,transaction,furnishing,facing,price,price_sqft
0,"2 BHK Apartment for Sale in Vivaan Aura, Zunda...",Super Area,155 sqyrd,Poss. by Dec '26,New Property,Unfurnished,Vivaan Aura,2,â‚¹48.1 Lac,"â‚¹3,444 per sqft"
1,"2 BHK Apartment for Sale in SP Epitome, Shela ...",Carpet Area,710 sqft,Poss. by Jun '27,New Property,Unfurnished,SP Epitome,2,â‚¹50 Lac,"â‚¹3,876 per sqft"
2,"2 BHK Apartment for Sale in Pacifica Amara, Sa...",Carpet Area,588 sqft,Poss. by Dec '25,New Property,Unfurnished,Pacifica Amara,2,â‚¹40 Lac,"â‚¹3,738 per sqft"
3,"2 BHK Apartment for Sale in Kavisha AER, Shela...",Carpet Area,687 sqft,Poss. by Jun '26,New Property,Unfurnished,Kavisha AER,2,â‚¹48.8 Lac,"â‚¹3,900 per sqft"
4,"2 BHK Apartment for Sale in Aarambh Vistara, G...",Carpet Area,621 sqft,Poss. by Mar '25,New Property,Unfurnished,Aarambh Vistara,2,â‚¹48 Lac,"â‚¹4,248 per sqft"
5,"2 BHK Apartment for Sale in Vivaan Essence, Zu...",Super Area,1413 sqft,Poss. by Jun '26,New Property,Unfurnished,Vivaan Essence,1 Covered,â‚¹49.9 Lac,"â‚¹3,533 per sqft"
6,"2 BHK Apartment for Sale in Kavisha AER, Shela...",Carpet Area,700 sqft,Poss. by Dec '25,7 out of 14,New Property,Unfurnished,East,â‚¹49.1 Lac,"â‚¹3,900 per sqft"
7,"2 BHK Apartment for Sale in Vivaan Aura, Zunda...",Carpet Area,85 sqyrd,Poss. by Jun '26,11 out of 14,New Property,Unfurnished,East,â‚¹48.4 Lac,"â‚¹3,444 per sqft"
8,"2 BHK Apartment for Sale in Kavisha Atria, She...",Carpet Area,655 sqft,Poss. by Jul '24,New Property,Unfurnished,North - East,Garden/Park,â‚¹45.2 Lac,"â‚¹4,000 per sqft"
9,"2 BHK Apartment for Sale in Sun Parkwest, Shel...",Carpet Area,676 sqft,Poss. by Jul '26,5 out of 14,New Property,Unfurnished,East,â‚¹42.6 Lac,"â‚¹3,300 per sqft"

In [265]:
import re
def clean_price(val):
    if pd.isna(val):
        return np.nan
    val = str(val).strip()

    return re.sub(r'^[^0-9A-Za-z]+','',val)


def price_conversion(val):
    if 'Lac' in val:
        return float(val.replace('Lac', "").strip()) *1e5
    elif "Cr" in val:
        return float(val.replace('Cr', "").strip()) *1e7
    elif "Call for Price" in val:
        return str(val.strip())
    else:
        return float(val.strip())
    
def remove_str(val):
    if pd.isna(val):
        return np.nan
    val = str(val).strip()
    return re.sub(r'[^0-9]+','', val)
    
    

df['price'] = df['price'].apply(clean_price)
df['price_sqft'] = df['price_sqft'].apply(clean_price)
df['price_sqft'] = df['price_sqft'].apply(remove_str)
df['price'] = df['price'].apply(price_conversion)

In [266]:
df['type_area'].unique()

array(['Super Area', 'Carpet Area', 'Transaction', 'Status', 'Built Area',
       'Under Construction'], dtype=object)

In [267]:
df['price_sqft'].unique()

array(['3444', '3876', '3738', ..., '10121', '8984', '11250'],
      shape=(2905,), dtype=object)

In [268]:
df['type_area'] = df['type_area'].replace({
    "Super Area": 'super area',
    'Carpet Area': 'carpet area',
    'Transaction': None,
    'Status': None,
    'Under Construction': 'under construction'
} )

df['type_area'].unique()

array(['super area', 'carpet area', None, 'Built Area',
       'under construction'], dtype=object)

In [269]:
df['status'].unique()

array(["Poss. by Dec '26", "Poss. by Jun '27", "Poss. by Dec '25",
       "Poss. by Jun '26", "Poss. by Mar '25", "Poss. by Jul '24",
       "Poss. by Jul '26", "Poss. by Dec '24", 'Ready to Move',
       "Poss. by May '26", "Poss. by Nov '24", "Poss. by Oct '25",
       "Poss. by Jan '26", "Poss. by Aug '24", "Poss. by Oct '24",
       "Poss. by Feb '28", "Poss. by Sep '25", "Poss. by Mar '26",
       "Poss. by Jan '25", "Poss. by Nov '25", "Poss. by Dec '27",
       "Poss. by Sep '24", '4 out of 5', '1 out of 1', '3 out of 3',
       '3 out of 5', '3 out of 4', "Poss. by Jun '25", '4 out of 10',
       '4 out of 4', 'Bapunagar One', '2 out of 3', '3 out of 9',
       '7 out of 8', "Poss. by Jun '24", '5 out of 5', '1 out of 4',
       '1 out of 14', '13 out of 13', '2 out of 5', '9 out of 14',
       '8 out of 14', "Poss. by Mar '27", "Poss. by Jul '25",
       "Poss. by May '24", "Poss. by Aug '25", "Poss. by Feb '25",
       "Poss. by Apr '25", "Poss. by Dec '28", "Poss. by Apr '26",
       "Poss. by Nov '26", "Poss. by Nov '27", "Poss. by Sep '26",
       "Poss. by Aug '26", "Poss. by Jul '27", "Poss. by Oct '26",
       'New Property', 'Resale', "Poss. by Feb '26", "Poss. by Mar '28",
       '9 out of 13', 'Const. Age New Construction', '3 out of 13',
       '1 out of 3', '5 out of 14', '10 out of 12', '5 out of 7',
       '2 out of 13', '1 out of 7', '3 out of 14', 'Ranna Apartment',
       '7 out of 7', '2 out of 4', '10 out of 11', '3 out of 10',
       '1 out of 10', '6 out of 15', '13 out of 22', '9 out of 10',
       '1 out of 6', "Poss. by Jan '28", '14 out of 14', '4 out of 13',
       '10 out of 23', '7 out of 14', '7 out of 10', '5 out of 15',
       '3 out of 7', "Poss. by Jan '27", "Poss. by Feb '29",
       "Poss. by Sep '27", "Poss. by Jun '28", "Poss. by May '25",
       "Poss. by Feb '27", 'Ground out of 3', '4 out of 32',
       '9 out of 19', '1 out of 5', '2 out of 2', '22 out of 22',
       '5 out of 8', '8 out of 15', '13 out of 15', '8 out of 19',
       '9 out of 17', "Poss. by May '27", "Poss. by Mar '29",
       "Poss. by Oct '27", "Poss. by May '28", "Poss. by Dec '29",
       "Poss. by Apr '27", '4 out of 15', "Poss. by Jun '29",
       'Ground out of 7', '4 out of 7', '9 out of 31', "Poss. by May '30",
       '8 out of 13', "Poss. by May '29", '6 out of 10',
       "Poss. by Jul '28", '2 out of 8', "Poss. by Aug '29",
       "Poss. by Apr '28", '8 out of 12', "Poss. by Aug '27",
       '8 out of 20', '9 out of 12'], dtype=object)

In [270]:
def status_clean(val):
    val = str(val)

    if "Poss." in val or "Ready to Move" in val or "Under Construction" in val:
        return ("possession", val)
    if val in ["New Property", "Resale"]:
        return ('transaction', val)
    if "out of" in val:
        return ("floor", val)
    
    if "Const. Age" in val:
        return ("age" , val)
    
    return ('project', val)

df[['status_type', 'status_value']] = df['status'].apply(status_clean).apply(pd.Series)
df.drop(['status'], axis=1 , inplace=True)

In [271]:

# df.sample()
df['facing'].unique()

array(['2', '1 Covered', 'East', 'Garden/Park', 'North - East', 'North',
       'Main Road', 'North - West', 'West', '1',
       'Garden/Park, Pool, Main Road', 'Garden/Park, Main Road',
       'Vandematram City', '1 Covered,', 'Garden Paradise',
       'Parshwanath Atlantis Park', 'Shukun Heights', 'South - East',
       'Radheshyam Residency', 'Shrifal Apartment', 'Omro Anmol Avenue',
       'Main Road, Garden/Park, Pool', 'Silver Pearl', 'South -West',
       'Savvy Studioz', 'Sainath Avenue', 'Shreeji Tulsi Heights',
       'Soham Sanidhya', 'Dev Darshan Apartment', 'Ashraya 10',
       'Freehold', 'Sarvopari Elegance',
       'Jigish Rohitbhai Patel Jahnvi Residency Phase 2',
       'Saanvi Aarambh', '3', 'Suryam Elegance', 'Shyam Tirth',
       'Karnavati 3', 'Nijanand Pushkar Elegance', 'Shakti Gardenia',
       'Siddharth Icon', 'Sun Real Homes', 'Shilp Solace',
       'VandeMatram Prime', 'Laxmi Nivas', 'Rashmi Vihar', 'Shilp Ananta',
       'Green City', 'Sun Rising Homes', nan,
       'Sainath Karnavati Apartment 5', 'HR Eternia', 'Suryam Greens',
       'Krish Elite', 'RP Suvarnam Heights', 'Samor Residency',
       'Shrinandnagar Part 5 Vejalpur',
       'Shankheshwar Township Block A G H And I',
       'Mangalam Sanskrut Flat', 'Suryam Pride', 'Main Road, Garden/Park',
       'Aavkar Height', 'Shree Ram Heights', 'Pool', 'Maitri Lake View',
       'Pool, Garden/Park, Main Road', 'R D Sai Sharnam And Sai Platinum',
       'Neelkanth Residency', 'Riddhi Siddhi Parivar Homes',
       'Dharm Vatika', 'Dev Castle', 'Divya Jivan Residency', 'Maruti 7',
       'Abjibapa Lakeview', 'Sangani Homz', 'Satyay Sarthi Height',
       'Savaliya Krish Avenue 2', 'Sushrut Saujanya III',
       'Applewood Estate Satyesh Residency', '4', 'Project Vastrapur',
       'Mahavir Daksh Residency', 'Dev Exotica', 'Shiv Swati Apartment',
       'Aryaman Awas', 'Gujrat Housing Board',
       'Mukhyamantri Awas Yojana Ahmedabad', 'Savvy Swaraaj',
       'Bhagwat Elegance', 'Sanskrut Apartments', 'Gokul Platinum',
       'Swaminarayan Park III', 'Aakash Residency', 'Jay Residency',
       'South', 'KP Residency', 'Samruddhi Residency',
       'Garden/Park, Pool', 'Suramya Apartment', 'Sarthi Parisar',
       'Vision Madhuvan Glory', 'Co-operative Society', 'Satatya Avenue',
       'Polaris Anand', 'Devnandan Park', 'Shalibhadra Tower',
       'Rajyash Reyansh', 'Godrej Vanaangan', 'Signature Vrajdham',
       'Swati Residency 5', 'Divyapunj Shalom', 'Shrinand Flora',
       'Shashwat Mahadev 1', 'Ghanshyam Complex', 'Vrundavan Vihar',
       '1 Open', 'Saujanya', 'Nirman Shyamved Residency', 'KP Heights',
       'Dhairya Paradise', 'Ganesh Green', 'Vitthal Plaza',
       'Karnavati Nagar Sabarmati', 'Smit Tankar Residency 4',
       'Shanti Shukra', 'Sankalp Residency', 'Dev Darshan Residency',
       'Galaxy Vraj Residency', 'Malhar Flats', 'Diwali Homes',
       'Ashtavinayak Aatrey Ivaan 3', 'Ashtavinayak Icon',
       'Vinayak Residency', 'Shubhmilan Radhe Hills', 'Murlidhar Heights',
       'Riverside Park', 'Vrindavan Godrej Garden City',
       'Shyam Shivalay Residency', 'Shivam Hariom Elegance',
       'Avalon courtyard', 'upvan avenue', 'Mahadev Sri Nand City 7',
       'Tagore Apartment', 'Chehar Maruti Bliss',
       'Veer Savarker Heights 2 Vasantnagar', 'Parishkaar',
       'Madhuvan Residency', 'Kansas County', 'Kushal Awaas',
       'Merlin Sparsh', 'Adani Aangan', 'Bakeri City', 'Victoria Heights',
       'Keshavpriya Naroda Smart City 3', 'Snehadri Flats', 'Umang Narol',
       'Sudev Homes', 'Ashraya 9', 'Shakti Apartments', 'Samor Heights',
       '2 Covered', 'Eklingji Radhe Skyline', 'Swati Appartment 2',
       'Veer Savarkar Heights', 'Iscon Flower', 'Devnandan Residency',
       'Leasehold', 'Naiya Apartments', 'Girivar Pride',
       'Shrinand City 4', 'Safal Parishkaar 2', 'Shalin Heights 5',
       'Shashwat Mahadev 2', 'Sharnam Residency', 'Godrej Garden City',
       'Shiv Shakti Om Villa', 'Castle Villa', 'Sai Flora',
       'Atithi Avenue', 'Kesar Orchid', 'Shaunak Apartments',
       'Devraj Residency', 'Lotus Aditya Elite', 'Sambhavnath Upvan',
       'Shree Hari Nirmit Flora', 'Dwarkesh Sun Residency',
       'Shakti Tulsi Residency', 'Gayatri Exotica',
       'Divyajivan Smart Homes', 'Gold Coast Residency',
       'Sakar Residency', 'Dharmadev Swaminarayan Business Park',
       'Savvy Strata', 'Bhagwat Greens', 'Shayona Pushp',
       'Avalon Skyline', 'Shalin Heights 1', 'Narayan Residency',
       'Parth Indraprasth Tower', 'Aarambh', 'Dev Aashish 2',
       'Shree Prime Hill', 'Shagun Saral 207', 'Bhagirath City Homes',
       'Suvas Apartments', 'Shree Prayosha Residency', 'Vraj Dham II',
       'Shayona Green', 'Turquoise Greenz', 'Kavisha Atria',
       'Diwali Blessings', 'Serenity Sky', 'Victory Sunrise',
       'Alpine heights', 'Suryansh Solitaire', 'Ratna Turquoise',
       'Sun South Winds', 'Ansh Ambition', 'Samprat Residency',
       'Pool, Garden/Park', 'Applewoods Sorrel Apartments',
       'Rajyash Rains', 'Radhe skyline', 'Safal Parishkaar',
       'Sun Footprints', 'Adani Atrius', 'Nirmal Kala',
       'Bhavya Developers Simandhar Sharan', 'Seattle Sky',
       'Swastik Elegance', 'Laxmi Sky City', 'Saujanya II',
       'Kadamb Greens', 'Royal Homes', 'Main Road, Pool, Garden/Park',
       'Vidhi Apartment', 'Shaligram Prime', 'Smita Tower Gurukul',
       'Devnandan Infinity', 'Saral Dreamz', 'Venus Parkland', 'Aaryaman',
       'Shree Prashanti Geeta Apartments', 'Shaligram Plus',
       'Shree Shyam Hills', 'RV Nakshatra Rise', 'SHGS Elenza Greens',
       'Swarnim Stone and Villa', 'Vishwanath Samam',
       'Prasthan Home Town 5', 'Safal Parisar 2', 'Siddhipriya Imperial',
       'Orchid Sky', 'Suncity Apartments', 'Marigold',
       'Shree Sarju Greens', 'Sumangalam Apartments', 'Ratnadeep Flora',
       'Shyam Kutir', 'Kavisha AER', 'Shree Asthalakshmi Ocean Colina',
       'Savaliya Krish Luxuria', 'Shyam Akash Parisar',
       'Satellite Centre', 'Siddhipriya Shree Lakshminarayan Residency',
       'Rajyash Riverium', 'North Enclave', 'Anand Vihar',
       'Padmavati Residency', 'Saanvi Nirman Celesta', 'Orchid Harmony',
       'Flora Iris', 'Kavisha Urbania', 'Shukan Residency',
       'Kavisha Amara', 'Shree Laxmikunj Residency', 'Agrawal Appartment',
       'Shree Narayan Exotica', 'Zaveri Greens', 'Dharti Kesar Hill',
       '4D Square', 'Shree Spandan Bunglows', 'Sanidhya Skyros',
       'Devnandan Gunjan Flat', 'Garden residency 3', 'Shilp Revanta',
       'Shree Vrundavan Pearl', 'Classic Avenue', 'Aarohi Elysium',
       'Avishkar Apartment', 'Radhakrishna Jaldhara I', 'Sangath Nano',
       'Richmond Grand', 'Sorrel Apartments', 'Kaveri Soham',
       'Samarth Stanza', 'Binori Sampada', 'Kaveri Sangam',
       'Sahajanand Helenium', 'Shyam Villa Greens',
       'Shree Ami Vaibhav II Apartments', 'Shree Balaji Wind Park',
       'Silver Brook', 'PHA Kalash', 'Regency Plaza Rahul Tower',
       'Sun Atmosphere', 'Avalon Courtyard 2', 'Kalash 5', 'Parishkaar 2',
       'Vedant Shreeji Enclave', 'Samanvay Skyview', 'KV Satva Shiv Sky',
       'Shyam Saanvi', 'Raj Hills', 'Sanskar Apartment', 'Suryam Ananta',
       'Shivalik Sharda Park View 2', 'Yash Pinnacle',
       'Associated Sahaj Century', 'Anand Sky Lyf', 'Sky Elegante',
       'Shivshakti Royal Glory', 'Devbhoomi Tenament', 'Krishna Heights',
       'Swati Chrysantha', 'Orchid Greenfields', 'Navkar Kala Dham',
       'Shrimay Opulence', 'Vibhuti Apartment', 'Kaladham',
       'Himalaya Elanza', 'The Festival Residency 2',
       'Shreeji Shagun Heights', 'Trident Elanzza', 'Karnavati Gokuldham',
       'Jay Samved Exotica', 'Silver Stroke Apartment',
       'Gini Lake Gardenz', 'Adani The Meadows', 'Ohm Ohmkar Street',
       'Whistling Real Aura', 'Takshshila Apartment',
       'Palm Greens Makarba', 'Alaknanda Residency', 'KONARK KARISMA',
       'Godrej Green Glades', 'Shivanta Rigel', 'Sheladia Sarva',
       'Pushparaj Residency', 'Nilkanth Pearl Elegance', 'Aster',
       'Shyam Enclave', 'Aditya Icon', 'Aryaman Glory',
       'Abhay Ratna Premium', 'Adani Aster', 'Orchid Greenfield',
       'Kavisha Panorama', 'Sahitya Residency', 'Shypram',
       'Serene Sparkles', 'Silver Gardenia', 'Manthan 222',
       'Grand Riviera', 'Sheladia Luxuria', 'Binori Sonnet',
       'Riviera Aspire', 'Jaldeep Vertex', 'Shivalik Platinum',
       'Riviera Prestige', 'Garden/Park, Main Road, Pool',
       'Shivam Residency', 'Aamrakunj Ayan',
       'Aagam Residency Navrangpura', 'Riviera Springs',
       'Orchid Whitefield', '5', 'Prabhuvan Residency',
       'Vishwanath Sharanam 12', 'The Mango', 'Pool, Main Road',
       'Shlok elysium', 'Kaveri Soham Vistara', 'Swaminarayan Avenue',
       'Indraprasth 3', 'Divya Heights', 'Blossom Luxuria',
       'Shaligram Square', 'Aditya Greens', 'Sopan Tower',
       'Orchid Heights', 'Shilalekh Apartments', 'Galaxy Tower',
       'Aashka Floret', 'SAFAL PARIVESH', 'Dharti Madhuvan 54',
       'Pavitra Celestia', 'Karma Ansh Residency', 'Sharanya Altura',
       'Binori Mable', 'Serenity Lavish', 'Sahajanand Oasis',
       'Orchid Legacy', 'Shakti Edifice', 'Shivalik Sharda Harmony',
       'Dharti Saket Icon', 'Aayat Avenue', 'Iscon Riverside',
       'Satyam Skyline 2', 'SURYAKETU TOWER SURBHI CO OP HOUSING SOCIETY',
       'Olive Greens', 'Sunflower', '42 Parkview', 'Orchid Paradise',
       'Himalaya Zircon', 'NK Anantaya', 'Bakeri Satej', 'Sachin Towers',
       'Shanti Towar', 'Dev Aurum', 'Nirgun Rise', 'Saral Casa',
       'Godrej Garden City Carmel Tower', 'SKYVILLE',
       'Shreeji Enclave Prahaladnagar', 'Iscon Platinum',
       'AKSHAR OCEAN PEARL', 'Pinecrest Apartments', 'Panache',
       'Goyal Intercity', 'Shukun Krushnadham', 'Casa Vyoma',
       'Kiara Opulent', 'Vivekanand Arise', 'Sun Divine 2', 'Maple 14',
       'Western Glory', 'Viva Savoy', 'Sukh Tower Naranpura',
       'Belvedere Godrej Garden city', 'Nebula Tower', 'Swati Parkside',
       'Sai Simran Residency', '6', 'Saanvi Nirman Stellar',
       'Santerian Vista', 'Panchshil Punit Apartment', 'Sarang Lakeview',
       '3 Covered', 'Sudarshan Gold', 'Riviera Majestica', 'Oeuvre 3',
       'Riviera Elite', '52 Hansol', 'Zodiac Aarish', 'Gala Gardenia',
       'Arjun Sky Life', 'Sheetal Aqua', 'Adani Shantigram Waterlily',
       'Gala Imperia', 'visionnaire', 'Swati Symphony',
       'Maple Tree Garden Homes', 'The Gold by Samor', 'Shivalik Edge',
       'The Verity', 'Sankalp Grace2', 'Popular Domain', '4 Covered',
       'Eternity by Ratnaakar', '6 Covered', 'Eminence 14', 'IKEBANA',
       'The North', '5 Covered', 'Seventy'], dtype=object)

In [272]:
# it is to check the no of rows and columns in the data-set :)
x = df.shape
print('This data-set has', x[0] , "rows" , 'and' ,x[-1] , "columns")

This data-set has 6853 rows and 11 columns

In [273]:
# we can also need to check data type so there are some couple of ways for it w'll use .dtype method for now
print('data type of the data present in the columns are give below')
print('')
print(df.dtypes)

data type of the data present in the columns are give below

Title           object
type_area       object
value_area      object
floor           object
transaction     object
furnishing      object
facing          object
price           object
price_sqft      object
status_type     object
status_value    object
dtype: object

In [274]:
# null values per column
df.isnull().sum()

Title             0
type_area         4
value_area        0
floor             8
transaction      21
furnishing       37
facing           89
price             0
price_sqft      448
status_type       0
status_value      0
dtype: int64

In [275]:
df.duplicated().sum()

np.int64(298)

In [276]:
df['type_area'].unique()

array(['super area', 'carpet area', None, 'Built Area',
       'under construction'], dtype=object)

In [277]:
# missing values :)
print("missing values in data-set in '%'")
print("")
print((df.isnull().mean())*100)

missing values in data-set in '%'

Title           0.000000
type_area       0.058369
value_area      0.000000
floor           0.116737
transaction     0.306435
furnishing      0.539910
facing          1.298701
price           0.000000
price_sqft      6.537283
status_type     0.000000
status_value    0.000000
dtype: float64

In [278]:
df = df.dropna()
df.isnull().sum()

Title           0
type_area       0
value_area      0
floor           0
transaction     0
furnishing      0
facing          0
price           0
price_sqft      0
status_type     0
status_value    0
dtype: int64

In [279]:
df.head()

,Title,type_area,value_area,floor,transaction,furnishing,facing,price,price_sqft,status_type,status_value
0,"2 BHK Apartment for Sale in Vivaan Aura, Zunda...",super area,155 sqyrd,New Property,Unfurnished,Vivaan Aura,2,4810000.0,3444,possession,Poss. by Dec '26
1,"2 BHK Apartment for Sale in SP Epitome, Shela ...",carpet area,710 sqft,New Property,Unfurnished,SP Epitome,2,5000000.0,3876,possession,Poss. by Jun '27
2,"2 BHK Apartment for Sale in Pacifica Amara, Sa...",carpet area,588 sqft,New Property,Unfurnished,Pacifica Amara,2,4000000.0,3738,possession,Poss. by Dec '25
3,"2 BHK Apartment for Sale in Kavisha AER, Shela...",carpet area,687 sqft,New Property,Unfurnished,Kavisha AER,2,4880000.0,3900,possession,Poss. by Jun '26
4,"2 BHK Apartment for Sale in Aarambh Vistara, G...",carpet area,621 sqft,New Property,Unfurnished,Aarambh Vistara,2,4800000.0,4248,possession,Poss. by Mar '25

In [280]:
# not so important but still if you want you can try storing name of fetaures in variable for record :)

columns = list(df.columns)
columns

['Title',
 'type_area',
 'value_area',
 'floor',
 'transaction',
 'furnishing',
 'facing',
 'price',
 'price_sqft',
 'status_type',
 'status_value']

In [281]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6334 entries, 0 to 6852
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6334 non-null   object
 1   type_area     6334 non-null   object
 2   value_area    6334 non-null   object
 3   floor         6334 non-null   object
 4   transaction   6334 non-null   object
 5   furnishing    6334 non-null   object
 6   facing        6334 non-null   object
 7   price         6334 non-null   object
 8   price_sqft    6334 non-null   object
 9   status_type   6334 non-null   object
 10  status_value  6334 non-null   object
dtypes: object(11)
memory usage: 593.8+ KB

In [282]:
df.sample()

,Title,type_area,value_area,floor,transaction,furnishing,facing,price,price_sqft,status_type,status_value
6749,4 BHK Apartment for Sale in Iscon Ambli Road A...,carpet area,3300 sqft,2 out of 3,Resale,Furnished,East,60000000.0,12000,possession,Ready to Move

In [283]:
df["transaction"].unique()

array(['Unfurnished', 'New Property', 'Resale', 'Semi-Furnished',
       'Furnished', 'Bhagwat Elysium', 'Other', 'Garden/Park',
       '14 Covered', 'Samyak 49', 'The Indus', 'Super Shaligram'],
      dtype=object)