<a href="https://colab.research.google.com/github/bunny-ml/Ahmedabad-Flat-Price-/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# linear regression

In [10]:
import numpy as np
import seaborn as sns

In [5]:
df = [1 , 2, 3,7,4 ,4, 5, 56,653, 7,653,99]

In [6]:
df1 = np.array(df)

In [9]:
df1

array([  1,   2,   3,   7,   4,   4,   5,  56, 653,   7, 653,  99])