In [236]:
# importing some libs so that we can work with data easily :)
# all of the compution is done on colab
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [237]:
# reading the csv file by using pandas :)
df = pd.read_csv('ahmedabad.csv' , encoding='utf-8')

In [238]:
df.index

RangeIndex(start=0, stop=6853, step=1)

In [239]:
print("missing values in data-set in '%'")
print("")
print(f"{(df.isnull().mean())*100}")

missing values in data-set in '%'

Unnamed: 0      0.000000
Title           0.000000
type_area       0.000000
value_area      0.000000
status          0.000000
floor           0.116737
transaction     0.306435
furnishing      0.539910
facing          1.298701
price           0.000000
price_sqft      6.537283
description    25.769736
dtype: float64

In [240]:
df.isnull().sum()

Unnamed: 0        0
Title             0
type_area         0
value_area        0
status            0
floor             8
transaction      21
furnishing       37
facing           89
price             0
price_sqft      448
description    1766
dtype: int64

In [241]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6853 entries, 0 to 6852
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6853 non-null   int64
 1   Title        6853 non-null   object
 2   type_area    6853 non-null   object
 3   value_area   6853 non-null   object
 4   status       6853 non-null   object
 5   floor        6845 non-null   object
 6   transaction  6832 non-null   object
 7   furnishing   6816 non-null   object
 8   facing       6764 non-null   object
 9   price        6853 non-null   object
 10  price_sqft   6405 non-null   object
 11  description  5087 non-null   object
dtypes: int64(1), object(11)
memory usage: 642.6+ KB

In [242]:
df.isnull().sum()

Unnamed: 0        0
Title             0
type_area         0
value_area        0
status            0
floor             8
transaction      21
furnishing       37
facing           89
price             0
price_sqft      448
description    1766
dtype: int64

In [243]:
df['price_sqft'].isnull().sum()

np.int64(448)

In [244]:
# DROP the description
df = df.drop(['description', 'Unnamed: 0'], axis=1)

In [245]:
# quick look into the data-set :)
df.head(5)

,Title,type_area,value_area,status,floor,transaction,furnishing,facing,price,price_sqft
0,"2 BHK Apartment for Sale in Vivaan Aura, Zundal Ahmedabad",Super Area,155 sqyrd,Poss. by Dec '26,New Property,Unfurnished,Vivaan Aura,2,â‚¹48.1 Lac,"â‚¹3,444 per sqft"
1,"2 BHK Apartment for Sale in SP Epitome, Shela Ahmedabad",Carpet Area,710 sqft,Poss. by Jun '27,New Property,Unfurnished,SP Epitome,2,â‚¹50 Lac,"â‚¹3,876 per sqft"
2,"2 BHK Apartment for Sale in Pacifica Amara, Sanand Ahmedabad",Carpet Area,588 sqft,Poss. by Dec '25,New Property,Unfurnished,Pacifica Amara,2,â‚¹40 Lac,"â‚¹3,738 per sqft"
3,"2 BHK Apartment for Sale in Kavisha AER, Shela Ahmedabad",Carpet Area,687 sqft,Poss. by Jun '26,New Property,Unfurnished,Kavisha AER,2,â‚¹48.8 Lac,"â‚¹3,900 per sqft"
4,"2 BHK Apartment for Sale in Aarambh Vistara, Gota Ahmedabad",Carpet Area,621 sqft,Poss. by Mar '25,New Property,Unfurnished,Aarambh Vistara,2,â‚¹48 Lac,"â‚¹4,248 per sqft"

In [246]:
import re
def clean_price(val):
    if pd.isna(val):
        return np.nan
    val = str(val).strip()

    return re.sub(r'^[^0-9A-Za-z]+','',val)


def price_conversion(val):
    if 'Lac' in val:
        return float(val.replace('Lac', "").strip()) *1e5
    elif "Cr" in val:
        return float(val.replace('Cr', "").strip()) *1e7
    elif "Call for Price" in val:
        return str(val.strip())
    else:
        return float(val.strip())

def remove_str(val):
    if pd.isna(val):
        return np.nan
    val = str(val).strip()
    return re.sub(r'[^0-9]+','', val)



df['price'] = df['price'].apply(clean_price)
df['price_sqft'] = df['price_sqft'].apply(clean_price)
df['price_sqft'] = df['price_sqft'].apply(remove_str)
df['price'] = df['price'].apply(price_conversion)

In [247]:
df['type_area'].unique()

array(['Super Area', 'Carpet Area', 'Transaction', 'Status', 'Built Area',
       'Under Construction'], dtype=object)

In [248]:
df['price_sqft'].unique()

array(['3444', '3876', '3738', ..., '10121', '8984', '11250'],
      dtype=object)

In [249]:
df['type_area'] = df['type_area'].replace({
    "Super Area": 'super area',
    'Carpet Area': 'carpet area',
    'Transaction': None,
    'Status': None,
    'Under Construction': 'under construction'
} )

df['type_area'].unique()

array(['super area', 'carpet area', None, 'Built Area',
       'under construction'], dtype=object)

In [250]:
df['status'].unique()

array(["Poss. by Dec '26", "Poss. by Jun '27", "Poss. by Dec '25",
       "Poss. by Jun '26", "Poss. by Mar '25", "Poss. by Jul '24",
       "Poss. by Jul '26", "Poss. by Dec '24", 'Ready to Move',
       "Poss. by May '26", "Poss. by Nov '24", "Poss. by Oct '25",
       "Poss. by Jan '26", "Poss. by Aug '24", "Poss. by Oct '24",
       "Poss. by Feb '28", "Poss. by Sep '25", "Poss. by Mar '26",
       "Poss. by Jan '25", "Poss. by Nov '25", "Poss. by Dec '27",
       "Poss. by Sep '24", '4 out of 5', '1 out of 1', '3 out of 3',
       '3 out of 5', '3 out of 4', "Poss. by Jun '25", '4 out of 10',
       '4 out of 4', 'Bapunagar One', '2 out of 3', '3 out of 9',
       '7 out of 8', "Poss. by Jun '24", '5 out of 5', '1 out of 4',
       '1 out of 14', '13 out of 13', '2 out of 5', '9 out of 14',
       '8 out of 14', "Poss. by Mar '27", "Poss. by Jul '25",
       "Poss. by May '24", "Poss. by Aug '25", "Poss. by Feb '25",
       "Poss. by Apr '25", "Poss. by Dec '28", "Poss. by Apr '26",
       "Poss. by Nov '26", "Poss. by Nov '27", "Poss. by Sep '26",
       "Poss. by Aug '26", "Poss. by Jul '27", "Poss. by Oct '26",
       'New Property', 'Resale', "Poss. by Feb '26", "Poss. by Mar '28",
       '9 out of 13', 'Const. Age New Construction', '3 out of 13',
       '1 out of 3', '5 out of 14', '10 out of 12', '5 out of 7',
       '2 out of 13', '1 out of 7', '3 out of 14', 'Ranna Apartment',
       '7 out of 7', '2 out of 4', '10 out of 11', '3 out of 10',
       '1 out of 10', '6 out of 15', '13 out of 22', '9 out of 10',
       '1 out of 6', "Poss. by Jan '28", '14 out of 14', '4 out of 13',
       '10 out of 23', '7 out of 14', '7 out of 10', '5 out of 15',
       '3 out of 7', "Poss. by Jan '27", "Poss. by Feb '29",
       "Poss. by Sep '27", "Poss. by Jun '28", "Poss. by May '25",
       "Poss. by Feb '27", 'Ground out of 3', '4 out of 32',
       '9 out of 19', '1 out of 5', '2 out of 2', '22 out of 22',
       '5 out of 8', '8 out of 15', '13 out of 15', '8 out of 19',
       '9 out of 17', "Poss. by May '27", "Poss. by Mar '29",
       "Poss. by Oct '27", "Poss. by May '28", "Poss. by Dec '29",
       "Poss. by Apr '27", '4 out of 15', "Poss. by Jun '29",
       'Ground out of 7', '4 out of 7', '9 out of 31', "Poss. by May '30",
       '8 out of 13', "Poss. by May '29", '6 out of 10',
       "Poss. by Jul '28", '2 out of 8', "Poss. by Aug '29",
       "Poss. by Apr '28", '8 out of 12', "Poss. by Aug '27",
       '8 out of 20', '9 out of 12'], dtype=object)

In [251]:
def status_clean(val):
    val = str(val)

    if "Poss." in val or "Ready to Move" in val or "Under Construction" in val:
        return ("possession", val)
    if val in ["New Property", "Resale"]:
        return ('transaction', val)
    if "out of" in val:
        return ("floor", val)

    if "Const. Age" in val:
        return ("age" , val)

    return ('project', val)

df[['status_type', 'status_value']] = df['status'].apply(status_clean).apply(pd.Series)
df.drop(['status'], axis=1 , inplace=True)

In [252]:
df['status_value'][11]

'Ready to Move'

In [253]:
df['status_type'][11]

'possession'

In [254]:

# df.sample()
df['facing'].unique()

array(['2', '1 Covered', 'East', 'Garden/Park', 'North - East', 'North',
       'Main Road', 'North - West', 'West', '1',
       'Garden/Park, Pool, Main Road', 'Garden/Park, Main Road',
       'Vandematram City', '1 Covered,', 'Garden Paradise',
       'Parshwanath Atlantis Park', 'Shukun Heights', 'South - East',
       'Radheshyam Residency', 'Shrifal Apartment', 'Omro Anmol Avenue',
       'Main Road, Garden/Park, Pool', 'Silver Pearl', 'South -West',
       'Savvy Studioz', 'Sainath Avenue', 'Shreeji Tulsi Heights',
       'Soham Sanidhya', 'Dev Darshan Apartment', 'Ashraya 10',
       'Freehold', 'Sarvopari Elegance',
       'Jigish Rohitbhai Patel Jahnvi Residency Phase 2',
       'Saanvi Aarambh', '3', 'Suryam Elegance', 'Shyam Tirth',
       'Karnavati 3', 'Nijanand Pushkar Elegance', 'Shakti Gardenia',
       'Siddharth Icon', 'Sun Real Homes', 'Shilp Solace',
       'VandeMatram Prime', 'Laxmi Nivas', 'Rashmi Vihar', 'Shilp Ananta',
       'Green City', 'Sun Rising Homes', nan,
       'Sainath Karnavati Apartment 5', 'HR Eternia', 'Suryam Greens',
       'Krish Elite', 'RP Suvarnam Heights', 'Samor Residency',
       'Shrinandnagar Part 5 Vejalpur',
       'Shankheshwar Township Block A G H And I',
       'Mangalam Sanskrut Flat', 'Suryam Pride', 'Main Road, Garden/Park',
       'Aavkar Height', 'Shree Ram Heights', 'Pool', 'Maitri Lake View',
       'Pool, Garden/Park, Main Road', 'R D Sai Sharnam And Sai Platinum',
       'Neelkanth Residency', 'Riddhi Siddhi Parivar Homes',
       'Dharm Vatika', 'Dev Castle', 'Divya Jivan Residency', 'Maruti 7',
       'Abjibapa Lakeview', 'Sangani Homz', 'Satyay Sarthi Height',
       'Savaliya Krish Avenue 2', 'Sushrut Saujanya III',
       'Applewood Estate Satyesh Residency', '4', 'Project Vastrapur',
       'Mahavir Daksh Residency', 'Dev Exotica', 'Shiv Swati Apartment',
       'Aryaman Awas', 'Gujrat Housing Board',
       'Mukhyamantri Awas Yojana Ahmedabad', 'Savvy Swaraaj',
       'Bhagwat Elegance', 'Sanskrut Apartments', 'Gokul Platinum',
       'Swaminarayan Park III', 'Aakash Residency', 'Jay Residency',
       'South', 'KP Residency', 'Samruddhi Residency',
       'Garden/Park, Pool', 'Suramya Apartment', 'Sarthi Parisar',
       'Vision Madhuvan Glory', 'Co-operative Society', 'Satatya Avenue',
       'Polaris Anand', 'Devnandan Park', 'Shalibhadra Tower',
       'Rajyash Reyansh', 'Godrej Vanaangan', 'Signature Vrajdham',
       'Swati Residency 5', 'Divyapunj Shalom', 'Shrinand Flora',
       'Shashwat Mahadev 1', 'Ghanshyam Complex', 'Vrundavan Vihar',
       '1 Open', 'Saujanya', 'Nirman Shyamved Residency', 'KP Heights',
       'Dhairya Paradise', 'Ganesh Green', 'Vitthal Plaza',
       'Karnavati Nagar Sabarmati', 'Smit Tankar Residency 4',
       'Shanti Shukra', 'Sankalp Residency', 'Dev Darshan Residency',
       'Galaxy Vraj Residency', 'Malhar Flats', 'Diwali Homes',
       'Ashtavinayak Aatrey Ivaan 3', 'Ashtavinayak Icon',
       'Vinayak Residency', 'Shubhmilan Radhe Hills', 'Murlidhar Heights',
       'Riverside Park', 'Vrindavan Godrej Garden City',
       'Shyam Shivalay Residency', 'Shivam Hariom Elegance',
       'Avalon courtyard', 'upvan avenue', 'Mahadev Sri Nand City 7',
       'Tagore Apartment', 'Chehar Maruti Bliss',
       'Veer Savarker Heights 2 Vasantnagar', 'Parishkaar',
       'Madhuvan Residency', 'Kansas County', 'Kushal Awaas',
       'Merlin Sparsh', 'Adani Aangan', 'Bakeri City', 'Victoria Heights',
       'Keshavpriya Naroda Smart City 3', 'Snehadri Flats', 'Umang Narol',
       'Sudev Homes', 'Ashraya 9', 'Shakti Apartments', 'Samor Heights',
       '2 Covered', 'Eklingji Radhe Skyline', 'Swati Appartment 2',
       'Veer Savarkar Heights', 'Iscon Flower', 'Devnandan Residency',
       'Leasehold', 'Naiya Apartments', 'Girivar Pride',
       'Shrinand City 4', 'Safal Parishkaar 2', 'Shalin Heights 5',
       'Shashwat Mahadev 2', 'Sharnam Residency', 'Godrej Garden City',
       'Shiv Shakti Om Villa', 'Castle Villa', 'Sai Flora',
       'Atithi Avenue', 'Kesar Orchid', 'Shaunak Apartments',
       'Devraj Residency', 'Lotus Aditya Elite', 'Sambhavnath Upvan',
       'Shree Hari Nirmit Flora', 'Dwarkesh Sun Residency',
       'Shakti Tulsi Residency', 'Gayatri Exotica',
       'Divyajivan Smart Homes', 'Gold Coast Residency',
       'Sakar Residency', 'Dharmadev Swaminarayan Business Park',
       'Savvy Strata', 'Bhagwat Greens', 'Shayona Pushp',
       'Avalon Skyline', 'Shalin Heights 1', 'Narayan Residency',
       'Parth Indraprasth Tower', 'Aarambh', 'Dev Aashish 2',
       'Shree Prime Hill', 'Shagun Saral 207', 'Bhagirath City Homes',
       'Suvas Apartments', 'Shree Prayosha Residency', 'Vraj Dham II',
       'Shayona Green', 'Turquoise Greenz', 'Kavisha Atria',
       'Diwali Blessings', 'Serenity Sky', 'Victory Sunrise',
       'Alpine heights', 'Suryansh Solitaire', 'Ratna Turquoise',
       'Sun South Winds', 'Ansh Ambition', 'Samprat Residency',
       'Pool, Garden/Park', 'Applewoods Sorrel Apartments',
       'Rajyash Rains', 'Radhe skyline', 'Safal Parishkaar',
       'Sun Footprints', 'Adani Atrius', 'Nirmal Kala',
       'Bhavya Developers Simandhar Sharan', 'Seattle Sky',
       'Swastik Elegance', 'Laxmi Sky City', 'Saujanya II',
       'Kadamb Greens', 'Royal Homes', 'Main Road, Pool, Garden/Park',
       'Vidhi Apartment', 'Shaligram Prime', 'Smita Tower Gurukul',
       'Devnandan Infinity', 'Saral Dreamz', 'Venus Parkland', 'Aaryaman',
       'Shree Prashanti Geeta Apartments', 'Shaligram Plus',
       'Shree Shyam Hills', 'RV Nakshatra Rise', 'SHGS Elenza Greens',
       'Swarnim Stone and Villa', 'Vishwanath Samam',
       'Prasthan Home Town 5', 'Safal Parisar 2', 'Siddhipriya Imperial',
       'Orchid Sky', 'Suncity Apartments', 'Marigold',
       'Shree Sarju Greens', 'Sumangalam Apartments', 'Ratnadeep Flora',
       'Shyam Kutir', 'Kavisha AER', 'Shree Asthalakshmi Ocean Colina',
       'Savaliya Krish Luxuria', 'Shyam Akash Parisar',
       'Satellite Centre', 'Siddhipriya Shree Lakshminarayan Residency',
       'Rajyash Riverium', 'North Enclave', 'Anand Vihar',
       'Padmavati Residency', 'Saanvi Nirman Celesta', 'Orchid Harmony',
       'Flora Iris', 'Kavisha Urbania', 'Shukan Residency',
       'Kavisha Amara', 'Shree Laxmikunj Residency', 'Agrawal Appartment',
       'Shree Narayan Exotica', 'Zaveri Greens', 'Dharti Kesar Hill',
       '4D Square', 'Shree Spandan Bunglows', 'Sanidhya Skyros',
       'Devnandan Gunjan Flat', 'Garden residency 3', 'Shilp Revanta',
       'Shree Vrundavan Pearl', 'Classic Avenue', 'Aarohi Elysium',
       'Avishkar Apartment', 'Radhakrishna Jaldhara I', 'Sangath Nano',
       'Richmond Grand', 'Sorrel Apartments', 'Kaveri Soham',
       'Samarth Stanza', 'Binori Sampada', 'Kaveri Sangam',
       'Sahajanand Helenium', 'Shyam Villa Greens',
       'Shree Ami Vaibhav II Apartments', 'Shree Balaji Wind Park',
       'Silver Brook', 'PHA Kalash', 'Regency Plaza Rahul Tower',
       'Sun Atmosphere', 'Avalon Courtyard 2', 'Kalash 5', 'Parishkaar 2',
       'Vedant Shreeji Enclave', 'Samanvay Skyview', 'KV Satva Shiv Sky',
       'Shyam Saanvi', 'Raj Hills', 'Sanskar Apartment', 'Suryam Ananta',
       'Shivalik Sharda Park View 2', 'Yash Pinnacle',
       'Associated Sahaj Century', 'Anand Sky Lyf', 'Sky Elegante',
       'Shivshakti Royal Glory', 'Devbhoomi Tenament', 'Krishna Heights',
       'Swati Chrysantha', 'Orchid Greenfields', 'Navkar Kala Dham',
       'Shrimay Opulence', 'Vibhuti Apartment', 'Kaladham',
       'Himalaya Elanza', 'The Festival Residency 2',
       'Shreeji Shagun Heights', 'Trident Elanzza', 'Karnavati Gokuldham',
       'Jay Samved Exotica', 'Silver Stroke Apartment',
       'Gini Lake Gardenz', 'Adani The Meadows', 'Ohm Ohmkar Street',
       'Whistling Real Aura', 'Takshshila Apartment',
       'Palm Greens Makarba', 'Alaknanda Residency', 'KONARK KARISMA',
       'Godrej Green Glades', 'Shivanta Rigel', 'Sheladia Sarva',
       'Pushparaj Residency', 'Nilkanth Pearl Elegance', 'Aster',
       'Shyam Enclave', 'Aditya Icon', 'Aryaman Glory',
       'Abhay Ratna Premium', 'Adani Aster', 'Orchid Greenfield',
       'Kavisha Panorama', 'Sahitya Residency', 'Shypram',
       'Serene Sparkles', 'Silver Gardenia', 'Manthan 222',
       'Grand Riviera', 'Sheladia Luxuria', 'Binori Sonnet',
       'Riviera Aspire', 'Jaldeep Vertex', 'Shivalik Platinum',
       'Riviera Prestige', 'Garden/Park, Main Road, Pool',
       'Shivam Residency', 'Aamrakunj Ayan',
       'Aagam Residency Navrangpura', 'Riviera Springs',
       'Orchid Whitefield', '5', 'Prabhuvan Residency',
       'Vishwanath Sharanam 12', 'The Mango', 'Pool, Main Road',
       'Shlok elysium', 'Kaveri Soham Vistara', 'Swaminarayan Avenue',
       'Indraprasth 3', 'Divya Heights', 'Blossom Luxuria',
       'Shaligram Square', 'Aditya Greens', 'Sopan Tower',
       'Orchid Heights', 'Shilalekh Apartments', 'Galaxy Tower',
       'Aashka Floret', 'SAFAL PARIVESH', 'Dharti Madhuvan 54',
       'Pavitra Celestia', 'Karma Ansh Residency', 'Sharanya Altura',
       'Binori Mable', 'Serenity Lavish', 'Sahajanand Oasis',
       'Orchid Legacy', 'Shakti Edifice', 'Shivalik Sharda Harmony',
       'Dharti Saket Icon', 'Aayat Avenue', 'Iscon Riverside',
       'Satyam Skyline 2', 'SURYAKETU TOWER SURBHI CO OP HOUSING SOCIETY',
       'Olive Greens', 'Sunflower', '42 Parkview', 'Orchid Paradise',
       'Himalaya Zircon', 'NK Anantaya', 'Bakeri Satej', 'Sachin Towers',
       'Shanti Towar', 'Dev Aurum', 'Nirgun Rise', 'Saral Casa',
       'Godrej Garden City Carmel Tower', 'SKYVILLE',
       'Shreeji Enclave Prahaladnagar', 'Iscon Platinum',
       'AKSHAR OCEAN PEARL', 'Pinecrest Apartments', 'Panache',
       'Goyal Intercity', 'Shukun Krushnadham', 'Casa Vyoma',
       'Kiara Opulent', 'Vivekanand Arise', 'Sun Divine 2', 'Maple 14',
       'Western Glory', 'Viva Savoy', 'Sukh Tower Naranpura',
       'Belvedere Godrej Garden city', 'Nebula Tower', 'Swati Parkside',
       'Sai Simran Residency', '6', 'Saanvi Nirman Stellar',
       'Santerian Vista', 'Panchshil Punit Apartment', 'Sarang Lakeview',
       '3 Covered', 'Sudarshan Gold', 'Riviera Majestica', 'Oeuvre 3',
       'Riviera Elite', '52 Hansol', 'Zodiac Aarish', 'Gala Gardenia',
       'Arjun Sky Life', 'Sheetal Aqua', 'Adani Shantigram Waterlily',
       'Gala Imperia', 'visionnaire', 'Swati Symphony',
       'Maple Tree Garden Homes', 'The Gold by Samor', 'Shivalik Edge',
       'The Verity', 'Sankalp Grace2', 'Popular Domain', '4 Covered',
       'Eternity by Ratnaakar', '6 Covered', 'Eminence 14', 'IKEBANA',
       'The North', '5 Covered', 'Seventy'], dtype=object)

In [255]:
# it is to check the no of rows and columns in the data-set :)
x = df.shape
print('This data-set has', x[0] , "rows" , 'and' ,x[-1] , "columns")

This data-set has 6853 rows and 11 columns

In [256]:
# we can also need to check data type so there are some couple of ways for it w'll use .dtype method for now
print('data type of the data present in the columns are give below')
print('')
print(df.dtypes)

data type of the data present in the columns are give below

Title           object
type_area       object
value_area      object
floor           object
transaction     object
furnishing      object
facing          object
price           object
price_sqft      object
status_type     object
status_value    object
dtype: object

In [257]:
# null values per column
df.isnull().sum()

Title             0
type_area         4
value_area        0
floor             8
transaction      21
furnishing       37
facing           89
price             0
price_sqft      448
status_type       0
status_value      0
dtype: int64

In [258]:
df.duplicated().sum()

np.int64(298)

In [259]:
df = df.drop_duplicates()

In [260]:
df['type_area'].unique()

array(['super area', 'carpet area', None, 'Built Area',
       'under construction'], dtype=object)

In [261]:
# missing values :)
print("missing values in data-set in '%'")
print("")
print(f"{(df.isnull().mean())*100}")

missing values in data-set in '%'

Title           0.000000
type_area       0.045767
value_area      0.000000
floor           0.091533
transaction     0.259344
furnishing      0.488177
facing          1.266209
price           0.000000
price_sqft      6.498856
status_type     0.000000
status_value    0.000000
dtype: float64

In [262]:
df = df.dropna()
df.isnull().sum()

Title           0
type_area       0
value_area      0
floor           0
transaction     0
furnishing      0
facing          0
price           0
price_sqft      0
status_type     0
status_value    0
dtype: int64

In [263]:
df.head()

,Title,type_area,value_area,floor,transaction,furnishing,facing,price,price_sqft,status_type,status_value
0,"2 BHK Apartment for Sale in Vivaan Aura, Zundal Ahmedabad",super area,155 sqyrd,New Property,Unfurnished,Vivaan Aura,2,4810000.0,3444,possession,Poss. by Dec '26
1,"2 BHK Apartment for Sale in SP Epitome, Shela Ahmedabad",carpet area,710 sqft,New Property,Unfurnished,SP Epitome,2,5000000.0,3876,possession,Poss. by Jun '27
2,"2 BHK Apartment for Sale in Pacifica Amara, Sanand Ahmedabad",carpet area,588 sqft,New Property,Unfurnished,Pacifica Amara,2,4000000.0,3738,possession,Poss. by Dec '25
3,"2 BHK Apartment for Sale in Kavisha AER, Shela Ahmedabad",carpet area,687 sqft,New Property,Unfurnished,Kavisha AER,2,4880000.0,3900,possession,Poss. by Jun '26
4,"2 BHK Apartment for Sale in Aarambh Vistara, Gota Ahmedabad",carpet area,621 sqft,New Property,Unfurnished,Aarambh Vistara,2,4800000.0,4248,possession,Poss. by Mar '25

In [264]:
# not so important but still if you want you can try storing name of fetaures in variable for record :)

columns = list(df.columns)
columns

['Title',
 'type_area',
 'value_area',
 'floor',
 'transaction',
 'furnishing',
 'facing',
 'price',
 'price_sqft',
 'status_type',
 'status_value']

In [265]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6063 entries, 0 to 6852
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6063 non-null   object
 1   type_area     6063 non-null   object
 2   value_area    6063 non-null   object
 3   floor         6063 non-null   object
 4   transaction   6063 non-null   object
 5   furnishing    6063 non-null   object
 6   facing        6063 non-null   object
 7   price         6063 non-null   object
 8   price_sqft    6063 non-null   object
 9   status_type   6063 non-null   object
 10  status_value  6063 non-null   object
dtypes: object(11)
memory usage: 697.4+ KB

In [266]:
df.sample()

,Title,type_area,value_area,floor,transaction,furnishing,facing,price,price_sqft,status_type,status_value
5699,4 BHK Apartment for Sale in Prahlad Nagar Ahmedabad,super area,4500 sqft,3 out of 10,Resale,Furnished,East,43500000.0,9667,possession,Ready to Move

In [267]:
df["transaction"].unique()

array(['Unfurnished', 'New Property', 'Resale', 'Semi-Furnished',
       'Furnished', 'Bhagwat Elysium', 'Other', 'Garden/Park',
       '14 Covered', 'Samyak 49', 'The Indus', 'Super Shaligram'],
      dtype=object)

In [268]:
price_sqft = df['price_sqft']

In [269]:
df = df.drop(['price_sqft'], axis=1)

In [270]:
df['Title'][9]

'2 BHK Apartment for Sale in Sun Parkwest, Shela Ahmedabad'

In [271]:
df.sample(5)

,Title,type_area,value_area,floor,transaction,furnishing,facing,price,status_type,status_value
4689,"4 BHK Apartment for Sale in Aryavrat Heights, Satellite Ahmedabad",super area,3200 sqft,10 out of 12,Resale,Furnished,East,27500000.0,possession,Ready to Move
4707,"4 BHK Apartment for Sale in Swati Crimson, Thaltej Ahmedabad",carpet area,2500 sqft,1 out of 11,New Property,Furnished,North,37500000.0,possession,Ready to Move
6026,5 BHK Apartment for Sale in Shilaj Ahmedabad,carpet area,3850 sqft,17 out of 21,New Property,Unfurnished,North - East,46200000.0,possession,Poss. by Dec '26
2850,3 BHK Builder Floor for Sale in Paldi Ahmedabad,super area,2500 sqft,Ground out of 4,Resale,Furnished,3,8500000.0,possession,Ready to Move
6648,4 BHK Apartment for Sale in Bodakdev Ahmedabad,carpet area,4125 sqft,21 out of 38,New Property,Unfurnished,East,87000000.0,possession,Poss. by Dec '26

In [272]:
# clean columns
# 1 type area ----------------- looks good
# 2 value area ------------ just convert sqft and sqm , sqyrd to one singel type
# 3 floor ----------------- convert to 1/7 or something like it form
# 4 transcations -------------- looks useless so may be drop it
# 5 furnishing -------------------- search google or chatgpt as i cant under stand data
# 6 facing ----------------------- make it direction only  or for good drop it as it is not releivent data
# 7 Flat type(new column from title)----------- like 1 BHK , 2 BHK or other
# 8 loaction or building name ---------- from title (after in and before ,)

# so there will be about 7-8 meaningful columns after this

In [273]:
# arpatment type

# df['apartment_type'] = df['Title'].apply(lambda  title for t in title: return re.filter(r'[\d\s\w]', t)  )

In [274]:
def flat_type(text):
    match = re.search(r'(\d+)\s*BHK', text , re.IGNORECASE)
    if match:
        return match.group(0)
    return None


df['Flat Type'] = df['Title'].apply(flat_type)

In [275]:
def location(text):
    match = re.search(r'\bin\b\s+(.*)', text , re.IGNORECASE)
    if match:
        return match.group(1)
    return None

df['location'] = df['Title'].apply(location)

In [276]:
df.sample(10)

,Title,type_area,value_area,floor,transaction,furnishing,facing,price,status_type,status_value,Flat Type,location
6596,"5 BHK Penthouse for Sale in Enstin Evoq, Sola Ahmedabad",carpet area,4638 sqft,13 out of 14,New Property,Unfurnished,East,51000000.0,possession,Ready to Move,5 BHK,"Enstin Evoq, Sola Ahmedabad"
6577,"5 BHK Apartment for Sale in Iscon Vogue, Panchavati Society Ahmedabad",carpet area,4074 sqft,17 out of 20,New Property,Unfurnished,East,69300000.0,possession,Poss. by Dec '24,5 BHK,"Iscon Vogue, Panchavati Society Ahmedabad"
791,2 BHK Apartment for Sale in Vatva Ahmedabad,super area,108 sqyrd,1 out of 6,Resale,Unfurnished,2,1900000.0,possession,Ready to Move,2 BHK,Vatva Ahmedabad
742,2 BHK Apartment for Sale in Naroda Ahmedabad,super area,115 sqyrd,1 out of 5,Resale,Furnished,2,3200000.0,possession,Ready to Move,2 BHK,Naroda Ahmedabad
2569,"3 BHK Apartment for Sale in Praharsh Highland, South Bopal, Bopal Ahmedabad",super area,1450 sqft,Resale,Unfurnished,Praharsh Highland,3,7000000.0,floor,1 out of 10,3 BHK,"Praharsh Highland, South Bopal, Bopal Ahmedabad"
5798,"4 BHK Apartment for Sale in Anantara Alpines, Thaltej Ahmedabad",carpet area,2200 sqft,7 out of 10,New Property,Unfurnished,East,30000000.0,possession,Poss. by Dec '24,4 BHK,"Anantara Alpines, Thaltej Ahmedabad"
4079,"3 BHK Apartment for Sale in EMBRACE, Vaishnodevi Circle Ahmedabad",carpet area,1382 sqft,7 out of 13,New Property,Unfurnished,North,15500000.0,possession,Poss. by Dec '27,3 BHK,"EMBRACE, Vaishnodevi Circle Ahmedabad"
2514,"3 BHK Apartment for Sale in Orchid Valley, Shela Ahmedabad",carpet area,735 sqft,13 out of 14,Resale,Unfurnished,South -West,6000000.0,possession,Ready to Move,3 BHK,"Orchid Valley, Shela Ahmedabad"
1925,2 BHK Apartment for Sale in Motera Ahmedabad,carpet area,850 sqft,Resale,Furnished,"Garden/Park, Pool, Main Road",Freehold,5600000.0,possession,Ready to Move,2 BHK,Motera Ahmedabad
4042,"4 BHK Apartment for Sale in Indraprasth Shivanta, Ambli Ahmedabad",super area,3170 sqft,15 out of 21,Resale,Unfurnished,East,19000000.0,possession,Poss. by Oct '24,4 BHK,"Indraprasth Shivanta, Ambli Ahmedabad"

In [277]:
df.isnull().sum()

Title            0
type_area        0
value_area       0
floor            0
transaction      0
furnishing       0
facing           0
price            0
status_type      0
status_value     0
Flat Type       17
location         0
dtype: int64

In [278]:
df.sample(10)

,Title,type_area,value_area,floor,transaction,furnishing,facing,price,status_type,status_value,Flat Type,location
2985,2 BHK Apartment for Sale in Shukan City Ahmedabad,carpet area,850 sqft,4 out of 5,Resale,Furnished,East,5900000.0,possession,Ready to Move,2 BHK,Shukan City Ahmedabad
6643,"5 BHK Apartment for Sale in Anamika High Point, Sumeru Ahmedabad",super area,3346 sqft,Ground out of 31,Resale,Unfurnished,North,51800000.0,possession,Poss. by Jan '28,5 BHK,"Anamika High Point, Sumeru Ahmedabad"
5210,4 BHK Apartment for Sale in Bodakdev Ahmedabad,super area,3600 sqft,7 out of 10,Resale,Unfurnished,North,35000000.0,possession,Ready to Move,4 BHK,Bodakdev Ahmedabad
1021,"2 BHK Apartment for Sale in Indiabulls Centrum Ahmedabad, Saraspur Ahmedabad",carpet area,858 sqft,4 out of 5,Resale,Furnished,South,3000000.0,possession,Ready to Move,2 BHK,"Indiabulls Centrum Ahmedabad, Saraspur Ahmedabad"
6732,"5 BHK Penthouse for Sale in Riviera Majestica, Shela Ahmedabad",carpet area,6270 sqft,9 out of 20,New Property,Unfurnished,East,68400000.0,possession,Poss. by Dec '26,5 BHK,"Riviera Majestica, Shela Ahmedabad"
4098,"4 BHK Apartment for Sale in Swati Parkside, Shela Ahmedabad",carpet area,1442 sqft,5 out of 16,New Property,Unfurnished,East,14200000.0,possession,Ready to Move,4 BHK,"Swati Parkside, Shela Ahmedabad"
2125,"3 BHK Apartment for Sale in Anand Sharnam Heights, Kathwada Ahmedabad",carpet area,930 sqft,7 out of 7,Resale,Semi-Furnished,East,6400000.0,possession,Ready to Move,3 BHK,"Anand Sharnam Heights, Kathwada Ahmedabad"
4152,"3 BHK Apartment for Sale in Orchid Gold, Sanathal Ahmedabad",carpet area,1437 sqft,20 out of 28,Resale,Unfurnished,East,11000000.0,possession,Poss. by Dec '24,3 BHK,"Orchid Gold, Sanathal Ahmedabad"
2065,2 BHK Apartment for Sale in Ahmedabad,carpet area,543 sqft,5 out of 7,Resale,Semi-Furnished,East,6200000.0,possession,Ready to Move,2 BHK,Ahmedabad
3808,4 BHK Apartment for Sale in Panchavati 2nd lane Ahmedabad,carpet area,170 sqft,3 out of 4,Resale,Furnished,North,20000000.0,possession,Ready to Move,4 BHK,Panchavati 2nd lane Ahmedabad

In [279]:
df['location'].unique().tolist()

['Vivaan Aura, Zundal Ahmedabad',
 'SP Epitome, Shela Ahmedabad',
 'Pacifica Amara, Sanand Ahmedabad',
 'Kavisha AER, Shela Ahmedabad',
 'Aarambh Vistara, Gota Ahmedabad',
 'Vivaan Essence, Zundal Ahmedabad',
 'Kavisha Atria, Shela Ahmedabad',
 'Sun Parkwest, Shela Ahmedabad',
 'Shilp Ananta, Shela Ahmedabad',
 'Zundal Ahmedabad',
 'Savvy Studioz, Jagatpur Ahmedabad',
 'Devam, Jagatpur Ahmedabad',
 'Orchid Blues, Shela Ahmedabad',
 'Aadhvan Rise, South Bopal, Bopal Ahmedabad',
 'Atlantis wave Ahmedabad',
 'Zaveri Greens, Ghuma Ahmedabad',
 'Mahadev Lavish, South Bopal, Bopal Ahmedabad',
 'Sun Footprints, Shela Ahmedabad',
 'Eden Godrej Garden city, Jagatpur Village, Gota Ahmedabad',
 'Sacred Shivansh, Shela Ahmedabad',
 'Sheladia Eris, Shela Ahmedabad',
 'Shela Ahmedabad',
 'Gota Ahmedabad',
 'HR Eternia, Shela Ahmedabad',
 'Indraprasth Ixora, Shela Ahmedabad',
 'Shoolin Kopren Park View, Vasant Nagar Ahmedabad',
 'Aarambh Zest, Gota Ahmedabad',
 'Aarohi Club Road Ahmedabad',
 'Orchid Valley, Shela Ahmedabad',
 'Mahadev Harsh Platinum 3, Bopal Ahmedabad',
 'CTM, Amraiwadi Ahmedabad',
 'Applewood Estate Satyesh Residency, Bopal Ahmedabad',
 'Jagatpur Ahmedabad',
 'Silverline Residency, New CG Road Ahmedabad',
 'Ganesh Genesis, Jagatpur Village, Gota Ahmedabad',
 'Zion Heights, Vastral Ahmedabad',
 'Vatva Ahmedabad',
 'Ranip Ahmedabad',
 'Vandematram City, Gota Ahmedabad',
 'Godrej Green Glades, Jagatpur Ahmedabad',
 'Shree Vishnudhara Homes, Devnagar, Gota Ahmedabad',
 'Premjyot Tower, Gurukul Ahmedabad',
 'Vinzol Ahmedabad',
 'Shaligram Prime, South Bopal, Bopal Ahmedabad',
 'Shoolin Kopren Park View, Ognaj Ahmedabad',
 'Bopal Ahmedabad',
 'Avalon courtyard, Ghodasar Ahmedabad',
 'Narolgam Ahmedabad',
 'Aditya Enclave, Behrampura Ahmedabad',
 'Garden Paradise, Bopal Ahmedabad',
 'Parshwanath Atlantis Park, Sughad Ahmedabad',
 'Prakruti Residency, Vastral Ahmedabad',
 'Shukun Heights, Vastral Ahmedabad',
 'Vasna Ahmedabad',
 'Ghatlodiya Ahmedabad',
 'Yash Flora, Nikol Ahmedabad',
 'Swareet, Vejalpur, Jivraj park Ahmedabad',
 'Godrej Garden City, Chandkheda Ahmedabad',
 'Vaishnodevi Circle Ahmedabad',
 'Vrundavan Skyline, Vastral Ahmedabad',
 'New Maninagar Ahmedabad',
 'Naroda Ahmedabad',
 'Vastral Ahmedabad',
 'Nava Naroda Ahmedabad',
 'Bapashree Park Ahmedabad',
 'Nikol Ahmedabad',
 'Maninagar Ahmedabad',
 'Radheshyam Residency, Nikol Ahmedabad',
 'Hanspura, Naroda Ahmedabad',
 'Orchid Green Field, Sardar Patel Ring Road Ahmedabad',
 'Sky One, North Bopal Ahmedabad',
 'Vandanam, Gota Ahmedabad',
 'Vrundavan Vihar, Vastral Ahmedabad',
 'Aleta, Jagatpur Ahmedabad',
 'Saraspur Ahmedabad',
 'Swastikkrut, Bopal Ahmedabad',
 'Shrifal Apartment, Gota Ahmedabad',
 'Madhav Homes, Vastral Ahmedabad',
 'HR Evernest, South Bopal, Bopal Ahmedabad',
 'Godrej Garden City, Gota Ahmedabad',
 'Memnagar Ahmedabad',
 'Maher Homes 5, Shela Ahmedabad',
 'Saujanya, Khokhra Ahmedabad',
 'Sun Atmosphere, Shela Ahmedabad',
 'Saanvi Nirman Solace, South Bopal, Bopal Ahmedabad',
 'Omro Anmol Avenue, Nikol Ahmedabad',
 'Khadia Ahmedabad',
 'Prathna Dev Residency, Gota Gam Ahmedabad',
 'Shagun 108, Zundal circle Ahmedabad',
 'Palash Homes, Shantipura Circle Ahmedabad',
 'South Bopal, Bopal Ahmedabad',
 'Saanvi Aarambh, Chandlodiya Ahmedabad',
 'Parshwanath Atlantis Park, Parshwanath Atlantis Park Ahmedabad',
 'New Ranip Ahmedabad',
 'shukan lotus Ahmedabad',
 'Shukan Lotus , Gota Ahmedabad',
 'Rudra Anmol Arise, Vinzol Ahmedabad',
 'Silver Pearl, Chanakyapuri Ahmedabad',
 'SP Nirvana, South Bopal, Bopal Ahmedabad',
 'Shaunak Apartments, Vejalpur, Jivraj park Ahmedabad',
 'Ghodasar Ahmedabad',
 'Hathijan Ahmedabad',
 'Merlin Sparsh, Narolgam Ahmedabad',
 'Pavansut Monarc Clans, Zundal Ahmedabad',
 'Sarkhej Gandhinagar Highway Ahmedabad',
 'Pavan Apartment, Nikol Ahmedabad',
 'Sainath Avenue, Kasindra Ahmedabad',
 'Aaryan Gloria, South Bopal, Bopal Ahmedabad',
 'Ganesh Genesis, Gota Ahmedabad',
 'shashwat vinayak vastral Ahmedabad',
 'Ramdevnagar Road Ahmedabad',
 'Shree Vallabh Devgram Residency, Nana Chiloda Ahmedabad',
 'Sorrel Apartments, Shela Ahmedabad',
 'Happy Uptown, Shela Ahmedabad',
 'Shivalik Kirtisagar Apartment, Satellite Ahmedabad',
 'Shreeji Tulsi Heights, Tragad Ahmedabad',
 'Vrindavan Godrej Garden City, Jagatpur Village, Gota Ahmedabad',
 'Satyesh Residency, Sardar Patel Ring Road Ahmedabad',
 'Bopal Road Ahmedabad',
 'Viaan Skyrise, New Vatva Road Ahmedabad',
 'Abhay Ratna Shashwat, Chandlodiya Ahmedabad',
 'Palm Greens Makarba, Makarba Ahmedabad',
 'Orchid Greenfields, South Bopal, Bopal Ahmedabad',
 'Maher Homes, Shela Ahmedabad',
 'Sun Rising Homes, Jagatpur Ahmedabad',
 'Sky Sol, South Bopal, Bopal Ahmedabad',
 'Paramdham Society, Bopal Ahmedabad',
 'Arihant Nagar Naroda Ahmedabad',
 'Sun Simpolo, North Bopal Ahmedabad',
 'Soham Sanidhya, New Maninagar Ahmedabad',
 'Stavan Parishray, Gota Ahmedabad',
 'New CG Road Ahmedabad',
 'Paldi Ahmedabad',
 'Madhuram Flora 2, Chandkheda Ahmedabad',
 'Ganesh Genesis, Sarkhej Gandhinagar Highway Ahmedabad',
 'Ganesh Residency, Chandkheda Ahmedabad',
 'Motera Ahmedabad',
 'Chanakyapuri Ahmedabad',
 'Stavan Ample, Devnagar, Gota Ahmedabad',
 'Vejalpur, Jivraj park Ahmedabad',
 'Adani Aangan, Vaishnodevi Circle Ahmedabad',
 'Vastral Road Ahmedabad',
 'Avalon Skyline, Vatva Ahmedabad',
 'Vasan Ahmedabad',
 'Bhagirath City Homes, Narolgam Ahmedabad',
 'Ashraya 10, New Ranip Ahmedabad',
 'Vyapti Himali Tower, Satellite Ahmedabad',
 'Aryaman Heights, Vatva Ahmedabad',
 'Nava Naroda Road Ahmedabad',
 'Vrindavan Godrej Garden City, Sarkhej Gandhinagar Highway Ahmedabad',
 'BelleVue Vieraaa, Chandkheda Ahmedabad',
 'Vraj Dham II, Ghatlodiya Ahmedabad',
 'Nicol Gam Ahmedabad',
 'Smarana, Vejalpur, Jivraj park Ahmedabad',
 'Shakti Tulsi Residency, Chandkheda Ahmedabad',
 'Sangath 2, Motera Ahmedabad',
 'Dev Paradise, Chandkheda Ahmedabad',
 'Rameshwaram Apartment, Kameshwar Vihar Satellite Ahmedabad',
 'Chandkheda Ahmedabad',
 'Adani Aangan, Sarkhej Gandhinagar Highway Ahmedabad',
 'satya Ahmedabad',
 'Isanpur Ahmedabad',
 'Shaunak Apartments, Bakeri City Ahmedabad',
 'Vyapti Himali Towers, Shyamal Ahmedabad',
 'Karnavati Enclave, Ramol, Amraiwadi Ahmedabad',
 'Aakash Residency, Shela Ahmedabad',
 'Vrindavan Godrej Garden City, Gota Ahmedabad',
 'Navrangpura Ahmedabad',
 'Arvind Aavishkaar, Naroda Road Ahmedabad',
 'Safal Parishkaar 2, Amraiwadi Ahmedabad',
 'Eden Godrej Garden city, Sarkhej Gandhinagar Highway Ahmedabad',
 'Sarvopari Elegance, Ranip Ahmedabad',
 'Shubham Galaxy, Naroda Ahmedabad',
 'Jigish Rohitbhai Patel Jahnvi Residency Phase 2, Maninagar Ahmedabad',
 'Saanvi Aarambh, Shivshakti Nagar Chandlodiya Ahmedabad',
 'Silver Pearl, Sarkhej Gandhinagar Highway Ahmedabad',
 'Saujanya II, Khokhra Ahmedabad',
 'Swaminarayan Park Phase 5, Naroda Ahmedabad',
 'Aarambh, Changodar Ahmedabad',
 'Nana Chiloda Gam Ahmedabad',
 'Nana Chiloda Ahmedabad',
 'Suryam Elegance, Vastral Ahmedabad',
 'Shyam Tirth, Chandlodiya Ahmedabad',
 'Sarovar 4, Bapa Sitaram Chowk Road Ahmedabad',
 'Shyam Villa Greens, Nikol Ahmedabad',
 'Ankur Chokadi Ahmedabad',
 'Karnavati 3, Narolgam Ahmedabad',
 'Narol Ahmedabad',
 'Nijanand Pushkar Elegance, Ghodasar Ahmedabad',
 'Shakti Gardenia, Vatva Ahmedabad',
 'Sanand Ahmedabad',
 'Panchsheel Residency, Gota Ahmedabad',
 'Shashwat Mahadev Heights, Vastral Ahmedabad',
 'Siddharth Icon, Tragad Ahmedabad',
 'Sun Real Homes, Ranip Ahmedabad',
 'Shilp Solace, Chandkheda Ahmedabad',
 'Riverside Park, Vasna Ahmedabad',
 'Navkar Kala Dham, Chandkheda Ahmedabad',
 'New Vatva Road Ahmedabad',
 'VandeMatram Prime, 2bhk vandanam gota Ahmedabad',
 'Sujan appartment, Jaymala, Isanpur Ahmedabad',
 'Ghuma Ahmedabad',
 'samarpan Avenue Ahmedabad',
 'Bopal, Ahmedabad Ahmedabad',
 'ICB Park, Chandlodiya Ahmedabad',
 'Laxmi Nivas, Narolgam Ahmedabad',
 'Shashwat Mahadev Heights, Sardar Patel Ring Road Ahmedabad',
 'Narayan Nagar Ahmedabad',
 'sarfaraj sarkar Ahmedabad',
 'Shree Sahjanand Residency, Daskroi Ahmedabad',
 'Anand Apartment, Hathijan Ahmedabad',
 'Dharti Silver, Chandkheda Ahmedabad',
 'Bakeri Suprabh Studio Apartment, Juhapura Ahmedabad',
 'Pramukh Avenue Ahmedabad',
 'Harmony Happy Heights , Ghuma Ahmedabad',
 'Avkar hall Ahmedabad',
 'DBS Umang Homes, Naroda Ahmedabad',
 'Pramukh Darshan Apartment Ahmedabad',
 'Bhagvat enclave Ahmedabad',
 'Sainath Karnavati Apartment 5, Vatva Ahmedabad',
 'Ahmedabad',
 'Suryam Greens, Vastral Ahmedabad',
 'Swastik Elegance, Tragad Ahmedabad',
 'Tulsi status Ahmedabad',
 'Galaxy Anmol Galaxy 77, Nikol Ahmedabad',
 'Sabarmati Ahmedabad',
 'RP Suvarnam Heights, Sardar Colony Ahmedabad',
 'Naroda Road Ahmedabad',
 'Jamalpur Ahmedabad',
 'Shilpika Appartment, Chandlodiya, Ahmedabad Ahmedabad',
 'Samor Residency, Narolgam Ahmedabad',
 'Indiabulls Centrum Ahmedabad, Saraspur Ahmedabad',
 'Gajanan Hill, Narol Vatva Road Ahmedabad',
 'Shankheshwar Township Block A G H And I, Naroda Ahmedabad',
 'Dev Aashish Pride And Plaza, Hanspura, Naroda Ahmedabad',
 'Mahadev Platinum, Ghodasar Ahmedabad',
 'Astodia, Khamasa Ahmedabad',
 'Mangalam Sanskrut Flat, Sanskrut Flat, Ghatlodiya, Ahmedabad Ahmedabad',
 'Suryam Pride, Vastral Ahmedabad',
 'Rashmi Flat, near Godavari Derasar, Vasna Ahmedabad',
 'Prathna Parisar, Naroda Ahmedabad',
 'Kalash 2 Enclave, Vatva Ahmedabad',
 'Aavkar Height, Chandkheda Ahmedabad',
 'Shree Ram Heights, Muthia Ahmedabad',
 'Sarjan Tower, Memnagar Ahmedabad',
 'Godrej Vananta, Sarkhej Gandhinagar Highway Ahmedabad',
 'Radhey Residency, Hathijan Ahmedabad',
 'Aakruti Township, Narolgam Ahmedabad',
 'Maninagar East, Maninagar Ahmedabad',
 'R D Sai Sharnam And Sai Platinum, Naroda Ahmedabad',
 'Safal Parishkaar, Maningar East, Khokhra Ahmedabad',
 'Shahpur Ahmedabad',
 'Neelkanth Residency, Narolgam Ahmedabad',
 'Platina, New CG Road Ahmedabad',
 'Riddhi Siddhi Parivar Homes, Gota Ahmedabad',
 'Tragad Ahmedabad',
 'Kalol Ahmedabad',
 'Shubh Jivan, Vastral Ahmedabad',
 'Tragad Road Ahmedabad',
 'Dharm Vatika, Hathijan Ahmedabad',
 'Dev Castle, Govindwadi Ahmedabad',
 'Visva Kunj, Ghuma Ahmedabad',
 'Changodar Ahmedabad',
 'Satej Homes, Vatva Ahmedabad',
 'Jashoda Nagar Ahmedabad',
 'Shantipura Ahmedabad',
 'Divya Jivan Residency, Chandkheda Ahmedabad',
 'Someshwar Sunsiesta, Vaishnodevi Circle Ahmedabad',
 'Nikol Naroda Road Ahmedabad',
 'Thaltej Ahmedabad',
 'New Maninagar Road Ahmedabad',
 'Isanpur Road Ahmedabad',
 'Nehru Park Ahmedabad',
 'Poddar Heights, Chandkheda Ahmedabad',
 'Maruti 7, Tragad Ahmedabad',
 'Gurukul Ahmedabad',
 'New Naroda Ahmedabad',
 'Dholka Ahmedabad',
 'Nava Vadaj Ahmedabad',
 'Chenpur Road Ahmedabad',
 'Shastrinagar, Nirnay Nagar Ahmedabad',
 'Krishna Nagar Saijpur Bogha Ahmedabad',
 'Sangani Homz, Vatva Ahmedabad',
 'Satyay Sarthi Height, Nikol Ahmedabad',
 'united Amaltous Ahmedabad',
 'Kuber Nagar Ahmedabad',
 'Dariyapur Ahmedabad',
 'Khanpur Ahmedabad',
 'Savaliya Krish Avenue 2, Vastral Ahmedabad',
 'Sushrut Saujanya III, Maninagar East, Maninagar Ahmedabad',
 'Raipur, Khadia Ahmedabad',
 'Sardar Patel Ring Road Ahmedabad',
 'Prahlad Nagar Ahmedabad',
 'Pushpkunj, Maninagar Ahmedabad',
 'Hiloni 444, Naroda Ahmedabad',
 'Sarkhej Ahmedabad',
 'Hansol Ahmedabad',
 'Bapunagar Ahmedabad',
 'Kalupur Ahmedabad',
 'Geratpur Ahmedabad',
 'India Colony, Bapunagar Ahmedabad',
 'Godhavi Ahmedabad',
 'Khokhra Ahmedabad',
 'Nandej Ahmedabad',
 'Moraiya Ahmedabad',
 'Devraj Residency, New Naroda Ahmedabad',
 'Sepal Elegant 1, Vatva Ahmedabad',
 'Sanatan Residency, Part 1 Vejalpur Ahmedabad',
 'Bhadaj Ahmedabad',
 'NAROL Ahmedabad',
 'Athithi Ashray, Narolgam Ahmedabad',
 'Mahavir Daksh Residency, Nikol Ahmedabad',
 'Dev Exotica, Ghuma Ahmedabad',
 'Vejalpur Road Ahmedabad',
 'Shrinandnagar part 4 L Block 202 Ahmedabad',
 'Shiv Swati Apartment, Nana Chiloda Ahmedabad',
 'Aryaman Awas, Narolgam Ahmedabad',
 'Satyam Sarjan, Changodar Ahmedabad',
 'Bopal Shilaj Road Ahmedabad',
 'Ratanpura Gam Ahmedabad',
 'Gujrat Housing Board, Krishna Nagar Saijpur Bogha Ahmedabad',
 'Mukhyamantri Awas Yojana Ahmedabad, Gota Ahmedabad',
 'Savvy Swaraaj, Jagatpur Ahmedabad',
 'Nandanvan Heights, Narolgam Ahmedabad',
 'Ramol Residency, Ramol, Amraiwadi Ahmedabad',
 'Samruddhi Residency, Narolgam Ahmedabad',
 'Bhagwat Elegance, Narolgam Ahmedabad',
 'jayraj flats Ahmedabad',
 'Ambawadi Ahmedabad',
 'Sanskrut Apartments, Ghatlodiya Ahmedabad',
 'Gokul Platinum, Ghodasar Ahmedabad',
 'Law Garden Ahmedabad',
 'Shahibag Ahmedabad',
 'Gujarat housing board sanand Ahmedabad',
 'Janta Nagar Chandkheda Ahmedabad',
 'Bopal Ghuma Road Ahmedabad',
 'Swaminarayan Park III, Vasna Ahmedabad',
 'sahaj solitaire Ahmedabad',
 'Ganesh Green, New Ranip Ahmedabad',
 'Old Wadaj Ahmedabad',
 'Vadsar Ahmedabad',
 'Daxini Society, Maninagar Ahmedabad',
 'Kankaria Ahmedabad',
 'Mihir Tower, jawahar chowk Uttamnagar Ahmedabad',
 'Jay Residency, Vastral Ahmedabad',
 'Shrirampur Ahmedabad',
 'Aditya Oasis, Lambha Ahmedabad',
 'Naroda Smart City 2, Naroda Dehgam Road Ahmedabad',
 'Shreejibapa Complex Ahmedabad',
 'Firdosh Koh E Toor Arcade, Juhapura Ahmedabad',
 'maruti haritage part - 2 Ahmedabad',
 'KP Residency, Nikol Ahmedabad',
 'Meghaninagar Ahmedabad',
 'bakeri sugam vasna Ahmedabad',
 'Karnavati apartment Ahmedabad',
 'Drive In Road Ahmedabad',
 'Devnandan Park, Nikol Naroda Road Ahmedabad',
 'Panacea Residency, Naroda Ahmedabad',
 'Bodakdev Ahmedabad',
 'Suramya Apartment, Ghodasar Ahmedabad',
 'Ghatlodiya, Ahmedabad Ahmedabad',
 'Lambha Ahmedabad',
 'Abhilasha Sky, Nikol Ahmedabad',
 'Shrinand city 5 Ahmedabad',
 'Sarthi Parisar, Ramol, Amraiwadi Ahmedabad',
 'Vision Madhuvan Glory, Krishna Nagar Saijpur Bogha Ahmedabad',
 'Keshav Apartment , Chandkheda Ahmedabad',
 'Malay Heights, Janta nagar Ahmedabad',
 'Rajipa Green Land, Nikol Ahmedabad',
 'bhulabhai park 1 Ahmedabad',
 'Chandlodiya Ahmedabad',
 'Polaris Anand, Nikol Ahmedabad',
 'Maniknath Nagar Ahmedabad',
 'Satyam Appartment Ahmedabad',
 'Shiv Tirth Apartment, Krishna Baug Ahmedabad',
 'Vishwas City V, Gota Ahmedabad',
 'Godrej Vanaangan, Jagatpur Ahmedabad',
 'Swati Greens, Chandkheda Ahmedabad',
 'Shrinand Nagar, Juhapura Ahmedabad',
 'Krish Exotica, Nikol Ahmedabad',
 'Signature Vrajdham, Jivraj Park Ahmedabad',
 'Platinum Elegance, Vinzol Ahmedabad',
 'Swati Residency 5, Chandkheda Ahmedabad',
 'Divyapunj Shalom, Chandkheda Ahmedabad',
 'Sterling City, Bopal Ahmedabad',
 'Shrinand Flora, Nana Chiloda Ahmedabad',
 'Shashwat Mahadev 1, Vastral Ahmedabad',
 'Ghanshyam Complex, Chandlodiya Ahmedabad',
 'Uttamnagar Maninagar Ahmedabad',
 'Gaurav Tower, Ghatlodiya Ahmedabad',
 'Visva Kunj I, Ghuma Ahmedabad',
 'Makarba Ahmedabad',
 'JIVANPRAN RESIDENCY Ahmedabad',
 'Odhav Ahmedabad',
 'khokhra circle parishkar phase 2 Ahmedabad',
 'Sola Road Ahmedabad',
 'Vir savarkar heights 3 Ahmedabad',
 'SHARAN RESIDENCY II, Chandkheda Ahmedabad',
 'Narayan Crystal, Vatva Ahmedabad',
 'Saujanya II, Maningar East, Khokhra Ahmedabad',
 'Vastrapur Ahmedabad',
 'Shyam Vihar Shahwadi Ahmedabad',
 'tata Ahmedabad',
 'Chevron Plaza, Motera Ahmedabad',
 'Avani Square Manohar Villa Char Rasta Ahmedabad',
 'Satellite Ahmedabad',
 'hariom appartment nava wadaj Ahmedabad',
 'Karnavati Apartment II, Narolgam Ahmedabad',
 'KP Heights, Odhav Ahmedabad',
 'sarjan tower Ahmedabad',
 'Ramdev Nagar Ahmedabad',
 'Malhar flats Ahmedabad',
 'Dhairya Paradise, Isanpur Ahmedabad',
 'Redevelopment society    investment opportunity Ahmedabad',
 'Pandav Apartment, Ghodasar Ahmedabad',
 'Vitthal Plaza, Naroda Ahmedabad',
 'Karnavati Nagar Sabarmati, Vastral Ahmedabad',
 'Vibrant Homes, Nava Naroda Ahmedabad',
 'Santinagar Ahmedabad',
 'D Cabin, Chandkheda Ahmedabad',
 'Smit Tankar Residency 4, Vatva Ahmedabad',
 'Shukan Platinum, Chandlodiya Ahmedabad',
 'Shanti Shukra, Narolgam Ahmedabad',
 'Aaditya Appartment New CG Raod Ahmedabad',
 'Murlidhar Heights, Naroda Ahmedabad',
 'Dev Darshan Residency, Vastral Ahmedabad',
 'Galaxy Vraj Residency, Naroda Ahmedabad',
 'Malhar Flats, Bodakdev Ahmedabad',
 'Palash 80, Motera Ahmedabad',
 'Adani Pratham, Sarkhej Gandhinagar Highway Ahmedabad',
 'Vasana Ahmedabad',
 'Kathwada Ahmedabad',
 'Diwali Homes, Chandkheda Ahmedabad',
 'Ashtavinayak Aatrey Ivaan 3, Nana Chiloda Ahmedabad',
 'Ashtavinayak Icon, Nikol Ahmedabad',
 'Vinayak Residency, New Ranip Ahmedabad',
 'Shyamal Ahmedabad',
 'Ahmedabad Ahmedabad',
 'Shrinandnagar part 4 you Ahmedabad',
 'shapers swastik city narolgam Ahmedabad',
 'shrinand city 8 Ahmedabad',
 'Kuha Ahmedabad',
 'Poonam Park Apartment, Daxini Society, Maninagar Ahmedabad',
 'jay shefali apartment Ahmedabad',
 'Pavan A Appartment Ahmedabad',
 'Shyam Shivalay Residency, Behrampura Ahmedabad',
 'Parikrama Appartment,Bopal Ahmedabad',
 'Ganesh Green, Chainpur Ahmedabad',
 'upvan avenue, Tragad Ahmedabad',
 'Mahadev Sri Nand City 7, New Maninagar Ahmedabad',
 'Veer Savarker Heights 2 Vasantnagar, Gota Ahmedabad',
 'Polaris Anand, Nikol Odhav Road Ahmedabad',
 'Vandemataram Empire, Vinzol Ahmedabad',
 'Parishkaar, Khokhra Ahmedabad',
 'Nirnay Nagar Ahmedabad',
 'Hatkeshwar Ahmedabad',
 'Madhuvan Residency, Nana Chiloda Ahmedabad',
 'Hari Om Elegance, Bopal Ahmedabad',
 'Manthan 222, Vatva Ahmedabad',
 'Kansas County, Vastral Ahmedabad',
 'Krish Elite, Nikol Ahmedabad',
 'Keshav Nagar Ahmedabad',
 'Suryam Sky, Vastral Ahmedabad',
 'Pushp Heights, Ramol, Amraiwadi Ahmedabad',
 'ashtvinayk Resedency Ahmedabad',
 'Bhudarpura Ahmedabad',
 'Kushal Awaas, Vatva Ahmedabad',
 'Prathna Lavish, Gota Ahmedabad',
 'Shashwat Mahadev 2, Vastral Ahmedabad',
 'Shiv tower, old vadej Ahmedabad',
 'Samarpan Ashirwad Flora, New Maninagar Ahmedabad',
 'Bavla Ahmedabad',
 'Shivansh Signature, Chandkheda Ahmedabad',
 'Abjibapa Lakeview, Vastral Ahmedabad',
 'Gajanan Dev Home Town 4, Chandkheda Ahmedabad',
 'Riviera Karnavati, New Maninagar Ahmedabad',
 'Garden Paradise, North Bopal Road Ahmedabad',
 'silver pearls Ahmedabad',
 'Parsi Dungarvadi Ahmedabad',
 'Bakeri City, Vejalpur, Jivraj park Ahmedabad',
 'Victoria Heights, Nava Naroda Ahmedabad',
 'Keshavpriya Naroda Smart City 3, Dehgam Road Ahmedabad',
 'Thakkarbapanagar Ahmedabad',
 'Adani Shantigram, Sarkhej Gandhinagar Highway Ahmedabad',
 'Green City, Nirnay Nagar Ahmedabad',
 'Sarvopari Homes, Nava Naroda Ahmedabad',
 'Snehadri Flats, Ambawadi Ahmedabad',
 'Umang Narol, Narolgam Ahmedabad',
 'Adani Pratham, Vaishnodevi Circle Ahmedabad',
 'Umang Vatva, Vatva Ahmedabad',
 'Rudraksha Apartment, naroda, Ahmedabad Ahmedabad',
 'Sanand Greens Residency 2, Dambha Ahmedabad',
 'Panch Shlok Residency, Chandkheda Ahmedabad',
 'Sudev Homes, Narolgam Ahmedabad',
 'NURSARY ROAD Ahmedabad',
 'Sanand Greens Residency, Sanand Ahmedabad',
 'Ashraya 9, New Ranip Ahmedabad',
 'Sukh shahitya hight Naroda Ahmedabad',
 'Shakti Apartments, Maninagar Ahmedabad',
 'Gokul Gold Flat, Jashodanagar Ahmedabad',
 'Akshar Platinium, Nana Chiloda Ahmedabad',
 'Panchshil Residency, Gota Ahmedabad',
 'Hirabaug Railway crossing Ahmedabad',
 'Siddhi Vinayak Avenue, Vatva Ahmedabad',
 'Samor Heights, Muthia Ahmedabad',
 'avas yojna Ahmedabad',
 'Bilasiya Ahmedabad',
 'Bindu Society Ahmedabad',
 'Tata Housing Shubh Griha, Gurukul Ahmedabad',
 'shrinand nagar 4 Ahmedabad',
 'Vaishali Twonship Ahmedabad',
 'Parv Anmol Residency, New Ranip Ahmedabad',
 'Rajpath Rowhouse, Bodakdev Ahmedabad',
 'Akruti Township Ahmedabad',
 'Pushp Residency, Vastral Ahmedabad',
 'Cama Hotel Ahmedabad',
 'Juhapura Ahmedabad',
 'Ved Shree, Vastral Ahmedabad',
 'Project Swaminarayan Park, Naroda Ahmedabad',
 'Shantinath Apartment, Vejalpur Ahmedabad',
 'Naranpura Ahmedabad',
 'Aakruti Township, New Mani Nagar Narolgam Ahmedabad',
 'JIVAN PRAN RESIDENCY Ahmedabad',
 'Sun Pushkar Luxuria, Jashoda Nagar Ahmedabad',
 'Dholera Ahmedabad',
 'Opp: IOCL Pretol Pump Adalaj Ahmedabad',
 'Singarwa Ahmedabad',
 'Kautilya 99, Tragad Road Ahmedabad',
 'maniyasha Ahmedabad',
 'Foliage Navjivan Flats, Vatva Ahmedabad',
 'Asarwa, Saraspur Ahmedabad',
 'Divyajivan Lifestyle, Nikol Ahmedabad',

In [285]:
def clean_location(text):
    text = text.strip().strip("'")

    if text.endswith("Ahmedabad"):
        text = text.replace("Ahmedabad", "").strip(", ").strip()

    parts = [p.strip() for p in text.split(",")]

    if len(parts) == 1:
        project = None
        locality = parts[0]
    else:
        project = parts[0]
        locality = " ".join(parts[1:])

    return pd.Series([project, locality, "Ahmedabad"])

    df[['project', 'locality','city']] = df['location'].apply(clean_location)

In [286]:
df.head()

,Title,type_area,value_area,floor,transaction,furnishing,facing,price,status_type,status_value,Flat Type,location
0,"2 BHK Apartment for Sale in Vivaan Aura, Zundal Ahmedabad",super area,155 sqyrd,New Property,Unfurnished,Vivaan Aura,2,4810000.0,possession,Poss. by Dec '26,2 BHK,"Vivaan Aura, Zundal Ahmedabad"
1,"2 BHK Apartment for Sale in SP Epitome, Shela Ahmedabad",carpet area,710 sqft,New Property,Unfurnished,SP Epitome,2,5000000.0,possession,Poss. by Jun '27,2 BHK,"SP Epitome, Shela Ahmedabad"
2,"2 BHK Apartment for Sale in Pacifica Amara, Sanand Ahmedabad",carpet area,588 sqft,New Property,Unfurnished,Pacifica Amara,2,4000000.0,possession,Poss. by Dec '25,2 BHK,"Pacifica Amara, Sanand Ahmedabad"
3,"2 BHK Apartment for Sale in Kavisha AER, Shela Ahmedabad",carpet area,687 sqft,New Property,Unfurnished,Kavisha AER,2,4880000.0,possession,Poss. by Jun '26,2 BHK,"Kavisha AER, Shela Ahmedabad"
4,"2 BHK Apartment for Sale in Aarambh Vistara, Gota Ahmedabad",carpet area,621 sqft,New Property,Unfurnished,Aarambh Vistara,2,4800000.0,possession,Poss. by Mar '25,2 BHK,"Aarambh Vistara, Gota Ahmedabad"

In [281]:
df['Title'].sample(10)

6435                  5 BHK Apartment for Sale in Iscon Ambli Road Ahmedabad
1793           3 BHK Apartment for Sale in Sharanya Altura, Shilaj Ahmedabad
2363    3 BHK Apartment for Sale in Sudarshan status, Sundar Nagar Ahmedabad
6607                     4 BHK Apartment for Sale in One 49, Ambli Ahmedabad
743             2 BHK Apartment for Sale in Garden Paradise, Bopal Ahmedabad
5               2 BHK Apartment for Sale in Vivaan Essence, Zundal Ahmedabad
4585     4 BHK Apartment for Sale in Swati Symphony, Drive In Road Ahmedabad
2379         3 BHK Apartment for Sale in Centrum by Sampad, Motera Ahmedabad
5045       5 BHK Penthouse for Sale in Kavisha The Portrait, Shela Ahmedabad
2546                           3 BHK Penthouse for Sale in Rambagh Ahmedabad
Name: Title, dtype: object